.off1{

    opacity: 0;
     transform: translateY(90px); 
}
.on1{
    opacity: 1;
    transform: translateY(0);
    transition: all linear 0.5s;
} .on2{
    opacity: 1;
    transform: translateX(0);
    transition: all linear 0.5s;
}.off1{
    opacity: 0;
     transform: translateX(-90px); 
}