.main{
    text-align: center;
}.nav ul{
    padding: 0;
    margin: 10px 0px;
    position: relative;
}.carousel-inner a{
    padding: 15px 30px;
    border-radius: 100px;
    background-color: rgba(255, 255, 255, 0.274);
    text-decoration: none;
    font-size: 20px;
    color: black;
    
}.carousel-inner h5{
    margin-bottom: 100px;
    font-size: 40px;
}.carousel-inner p{
    margin-bottom: 80px;
}.carousel-inner a:hover{
    font-size: 25px;
    text-decoration: none;
    color: black;
    background-color: white;
    transition: all 0.4s linear;
    padding: 15px 50px;
}.carousel-inner a:hover > .ic{
    color: black;
}.navPai{
    text-align: left;
}
.nav ul li{
    display: inline-block;
    margin: 10px 0;
}.caixa:hover{
    
    
    box-sizing: border-box;
}
#formEmail input{
    margin: 10px auto;
    display: block;
    width: 100%;
    padding: 10px;
}
#formEmail{
    padding: 10px;
    display: block;
}.seta{
    margin-left: 5px;
}
#formEmail textarea{
    padding: 15px;
    height: 100px;
width: 100%;
margin: 10px auto;
}#formEmail input:last-child{
    width: 100px;
}
#mainNav{
    background-color: #ff751f;
}.cardUl {
    font-size: 25px;
    color: white;
    margin-right: 8px;
}
.nav ul li a {
    color: white;    
    border-right: 1px white solid;
    
}.nav ul li a:hover{
    opacity: 0.5;
   background-color:#ff751f;
    
    
}.btnDrop{
    display: none;
}
.col{
    margin: 10px;
   
}.box a{
    display: block;

}.box p{
    text-align: center;
}.nav ul li a{
    padding: 12px 18px;
    text-decoration: none;
}
.inpu{
    display: inline-block;
    
}.inpu input{
    width: 150px;
   
}.top{
    margin-top: 40px;
    background-color: black;
    
}.c{
    padding:100px;
}.c p,h3{
    color: white;
    size: 20px;
    margin: 10px;
}
form{
    display: inline-block;
}
.i{
    margin-right: 10px;
}.t{
    font-size: 25px;
    
}#carousel{
    margin: 0;
}.btnConf{
    padding: 7px 17px;
    background-color: rgba(0, 0, 0, 0.836);
    color: white;
    border-radius: 100px;
    text-decoration: none;
    /* border: solid 1px black; */
    color: white; 
    text-decoration: none;
}.caixa{
    width: 300px;
    display:inline-block;
    margin: 0;
    padding-bottom: 40px;
}.div{
    width: 100%;
    background-color:#e7e7e7;
    padding-top: 20px;
}.quero{
    padding: 10px 40px;
    z-index: 10000;
    border-radius: 100px;
    text-decoration: none;
    color: white;
    font-size: 17px;
    background-color: rgba(15, 14, 14, 0.8);
  
}.quero:hover{
    border: black solid 1px;
    color: white;
}
.carousel  p{
     margin-top: 20px;
    
    text-align: center;
}
.square,.square1{
background-color: white;
/* border: solid 1px black; */

}.description p{
    color: green;
}.description{
    background-color:white;
}.description h2{
    color: rgb(87, 87, 87);
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.5;
    margin: 22px 0px 6px;
}
.main h1{
    margin: 70px;
}
.footer{
    padding: 50px 0 0  0 ;
    background-color: rgba(26, 26, 26, 0.836);
    
}.footer p{
    color: #cccc;
    font-size:18px;
}.footer a{
    margin-right: 8px;
    text-decoration:none;
    margin-bottom: 10px;
    color: #cccc;


}.footer a:hover{
    color: blue;
    text-decoration: underline;
    text-decoration-color: white;

}
    .Copyrigth{
    background-color: black;
    margin:0;
    text-align: center;
    color: #cccc;
    padding: 40px;
}hr{
    color: #e7e7e7;
}.fa-chevron-right{
    color: white;
    margin-right: 10px;
}.carousel-item{
    /* $carousel-transition-duration: */
    transition: transform 1s ease, opacity .5s ease-out
}.img{
    background-image: url('/img/slider\(1\).jpg');
    background-position:top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 100%;
}.nav-item a{
    padding-right: 30px;
    
    border-right: solid 1px black;
}.nav-item a:hover{
    opacity: 0.7;
    background-color: ;


}.nav-item p{
    margin-right: 20px;
}navNormal{
    background-color:black ;
}nav a{
    font-size: 20px;
}.close{
    position: absolute;
    z-index: 500;
    font-size: 70px;
    color: white;
    left: -8px;
    top: -0px;
}.navNormal a{
    color: white;
}
    .carousel-control-next-icon, .carousel-control-prev-icon {
        margin-top: 45px;
    }

.btn {
    background-color: white;
   
}.ico img{
    width: 35px;
    margin: 5px;

}.ico li{
    list-style: none;
}









/* Style the Image Used to Trigger the Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #myImg:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (Image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 60%;
    max-width: 700px;
  }
  
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation - Zoom in the Modal */
  .modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close123 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close123:hover,
  .close123:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }  

  .imgg{
      background-color: white;
  }
  


 
  .close147{
      font-size: 60px;
      position: absolute;
      height: 80px;
      width: 70px;
      left: -20px;
      top: -40px;
      color: red;
      font-weight: 100;
      z-index: 200;
  }




  .zoom {
	overflow: hidden;
}

.zoom img {
	max-width: 100%;
	-moz-transition: all 0.1s;
	-webkit-transition: all 0.1s;
	transition: all 0.1s;
}

.zoom:hover img {
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}

.text-item {
	position: absolute;
	left: 5%;
	right: 5%;
	bottom: 20px;
	z-index: 10;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #ffffff;
	text-align: center;
	font-weight: 700;
	text-shadow: 0 1px 3px rgba(0,0,0,0.6);
}



.anime {
   color: black;
    /* animation: go-back 1s infinite alternate; */
    animation: go-back 1s infinite alternate-reverse;
  }
  
  @keyframes go-back {
    from {
      transform: translateX(7px);
    }
    to {
      transform: translateX(0);
    }
  }.colunas{
    background-color: white;
     margin: 0 20px 20px;
  }.maisVendidos{
   padding: 20px 0;
     background:white;

  }.colunas > p{
      text-align: center;
        margin:auto;
      padding: 40px 0  ;
      font-size: 20px;
      font-weight: 400;
      

  }.destaques  #btn{
      padding-bottom: 80px;
    
  }




  