.main{
    text-align: center;
}.nav{
    background-color: ;

}.nav ul{
    padding: 0;
    margin: 10px 0px;
    position: relative;
}.carousel-inner a{
    padding: 15px 30px;
    border-radius: 100px;
    background-color: rgba(255, 255, 255, 0.274);
    text-decoration: none;
    font-size: 20px;
    color: black;
    
}.carousel-inner h5{
    margin-bottom: 100px;
    font-size: 40px;
}.carousel-inner p{
    margin-bottom: 80px;
}.carousel-inner a:hover{
    font-size: 25px;
    text-decoration: none;
    color: black;
    background-color: white;
    transition: all 0.4s linear;
    padding: 15px 50px;
}.carousel-inner a:hover > .ic{
    color: black;
}.navPai{
    text-align: left;
}
.nav ul li{
    display: inline-block;
    margin: 10px 0;
}.caixa:hover{
    
    
    box-sizing: border-box;
}#formEmail button {
    width: 70px;

}
#formEmail{
    padding: 10px;
}
#mainNav{
    background-color: #ff751f;
}
.nav ul li a {
    color: white;    
    border-right: 1px white solid;
    


}.nav ul li a:hover{
    opacity: 0.5;
   background-color:#ff751f;
    
    
}
.col{
    margin: 10px;
   
}.box a{
    display: block;

}.box p{
    text-align: center;
}.nav ul li a{
    padding: 12px 18px;
    text-decoration: none;
}
.inpu{
    display: inline-block;
    
}.inpu input{
    width: 150px;
   
}.top{
    margin-top: 40px;
    background-color: #FD8D49;
    
}.c{
    padding:100px;
}.c p,h3{
    color: white;
    size: 20px;
    margin: 10px;
}
form{
    display: inline-block;
}
.i{
    margin-right: 10px;
}.t{
    font-size: 25px;
    
}#carousel{
    margin: 0;
}.btnConf{
    padding: 10px 20px;
    background-color: white;
    border-radius: 100px;

}.square a{
    text-decoration: none;
    color: black;
}.caixa{
    width: 300px;
    display:inline-block;
    margin: 10px 10px 40px;
    padding-bottom: 10px;
}.div{
    width: 100%;
}.quero{
    padding: 10px 40px;
    z-index: 10000;
    border-radius: 100px;
    text-decoration: none;
    color: black;
    font-optical-sizing: 20px;
   
    
    background-color: white;
}.carousel  p{
     margin-top: 20px;
    
    text-align: center;
}
.square{
background-color: #D8DCD6;

}.description p{
    color: green;
}
.main h1{
    margin: 70px;
}
.footer{
    padding: 50px 0 0  0 ;
    background-color: rgba(26, 26, 26, 0.836);
    
}.footer p{
    color: #cccc;
    font-size:18px;
}.footer a{
    margin-right: 8px;
    text-decoration:none;
    margin-bottom: 10px;
    color: #cccc;

}
}.footer a:hover{
    color: blue;
    text-decoration: underline;
    text-decoration-color: white;

}
    .Copyrigth{
    background-color: black;
    margin:0;
    text-align: center;
    color: #cccc;
    padding: 40px;
}hr{
    color: white;
}.fa-chevron-right{
    color: white;
    margin-right: 10px;
}.carousel-item{
    /* $carousel-transition-duration: */
    transition: transform 1s ease, opacity .5s ease-out
}.img{
    background-image: url('/img/slider\(1\).jpg');
    background-position:top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 100%;
}